services:
  front:
    container_name: lecreuset-front-local
    build:
      context: .
      args:
        VITE_API_URL: ${VITE_API_URL:-http://localhost:3000/api}
        VITE_DOMAIN_NAME: ${VITE_DOMAIN_NAME:-localhost}
    ports:
      - "8080:80"
    restart: unless-stopped
    networks:
      - proxy

networks:
  proxy:
    external: true
